.calendarHeader {
  position: absolute;
  top: 0;
  left: 200px;
  align-items: center;
  z-index: 500;
  max-width: calc(100% - var(--calendarSidebarWidth));
  pointer-events: none;
  height: var(--calendarHeaderHeight);
  width: 100%;
  overflow: hidden;
  padding-right: var(--scrollBarWidth);
  background-color: whitesmoke;
}

.hourMarkers {
  width: calc(24 * var(--hourScale) + var(--scrollBarWidth) + 1px);
  overflow-x: scroll;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: calc(var(--scrollBarWidth) * -1);
  padding-top: 45px; /* TODO: Set Dynamically */
}

.hourMarker {
  position: absolute;
  white-space: nowrap;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 10px;
  height: 16px;
  bottom:10px;
}

.hourMarker:before {
  content: '';
  position: absolute;
  top: -44px; /* TODO: Set Dynamically */
  left: -1px;
  height: var(--calendarHeaderHeight);
  width: 3px;
  border-left: 2px solid #9ca5a7;
}
