.createEventTitle {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.createEventInputGroup {
  display: flex;
}

.createEventInputGroup .inputContainer + .inputContainer {
  margin-left: 10px;
}

.createEvent form > .inputContainer:last-child {
  margin-bottom: 0;
}
