.createEventInputContainer {
  margin-bottom: 25px;
}

.createEventInput {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #9ca5a7;
  width: 100%;
}

.createEventInputGroup {
  display: flex;
  justify-content: space-between;
}

.createEventInputGroup .createEventInputContainer {
  flex-basis: calc((100% / 6) - 10px);
}

.createEventTimeInput {

}
