.createEventTitle {
  width: 100%;
  font-size: 20px;
  border-bottom: 2px solid #dcdfe0;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.createEventInputGroup {
  display: flex;
}

.createEventInputGroup .inputContainer + .inputContainer {
  margin-left: 10px;
}

.createEvent form > .inputContainer:last-child {
  margin-bottom: 0;
}
