.calendar {
  --calendarRowHeight: 75px;
  --calendarHeaderHeight: 70px;
  --calendarSidebarWidth: 200px;
}

.calendar {
  height: 100%;
  padding-top: var(--navigationHeight);
  position: relative;
}

.calendarContent {
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-top: var(--calendarHeaderHeight);
  padding-left: var(--calendarSidebarWidth);
  background-color: #14282d;
}
