.navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--navigationHeight);
  padding: 25px;
  background-color: white;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
  z-index: 800;
}

.logo {
  max-width: 250px;
}

.navigationMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

.navigationMenu li {
  list-style-type: none;
}

.navigationUserName {
  color: #9ca5a7;
  margin-bottom: 3px;
}

.navigationSignIn,
.navigationSignOut {
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
}
