.navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 100px; /* TODO: Set Dynamically */
  padding: 25px;
  background-color: whitesmoke;
}
