.inputContainer {
  margin-bottom: 25px;
}

.inputLabel {
  padding-bottom: 5px;
}

.inputTooltip {
  font-size: 13px;
  margin-left: 5px;
  position: relative;
  line-height: 1;
}

.inputTooltip:after {
  padding: 5px;
  margin-left: 5px;
  opacity: 0;
  content: attr(data-tooltip);
  position: absolute;
  top: -10px;
  left: 100%;
  width: max-content;
  transition: opacity .5s;
  display: flex;
  align-items: center;
  border: 1px solid #dcdfdf;
  border-radius: 3px;
}

.inputTooltip:hover:after {
  opacity: 1;
}

.inputTooltipIcon {
  width: 15px;
}

input,
select,
div.react-select__control {
  background-color: #dcdfdf;
  color: #14282d;
  border: none;
  padding: 8px 10px;
  width: 100%;
  border-radius: 3px;
  font-family: 'lato', sans-serif;
  font-size: 14px;
  height: 33px;
}

input[type="time"] {
  width: 120px;
}

input[type="submit"] {
  background-color: #14282d;
  padding: 10px 12px;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color .5s;
  border-radius: 3px;
}

input[type="submit"]:hover {
  background-color: #203338;
}

textarea {
  background: #dcdfdf;
  color: #14282d;
  border: none;
  padding: 8px 10px;
  width: 100%;
  border-radius: 3px;
  height: 150px;
}

.dropdown li {
  display: none;
}

.dropdown.active li {
  display: block;
}

div.react-select__value-container {
  padding: 0;
}

div.react-select__indicators {
  display: none;
}

div.react-select__placeholder {
  color: #14282d;
}
