.calendarRows {
  overflow: scroll;
  position: relative;
  height: 100%;
  box-shadow: inset 1px 0 4px 1px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.calendarRow {
  display:flex;
  height: var(--calendarRowHeight);
  width: calc(24 * var(--hourScale));
  position: relative;
}

.calendarRow:not(:first-of-type) {
  border-top: 1px solid #efefef;
}

.calendarRow.active {
  background-color: rgba(20, 40, 45, 0.15);
}

.calendarRowSections {
  position: absolute;
  top: 0;
  width: var(--hourScale);
  height: 100%;
}

.calendarRowSection {
  display: inline-flex;
  width: 25%;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.calendarRowSection:after {
  content: '';
  height: 35px;
  width: 35px;
  background-image: url('../../../assets/images/plus.svg');
  background-size: contain;
  opacity: 0;
}

.calendarRowSection:hover {
  border: 2px solid #d3d3d3;
}

.calendarRowSection:hover:after {
  opacity: 1;
}
