.calendarRows {
  display: flex;
}

.rowHeaders {
  display: flex;
  flex-direction: column;
}

.rowHeader {
  background-color: gray;
  color: white;
  padding: 10px;
  height: 75px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rowHeader h2 {
  margin: 0;
}

.rowsContainer {
  background-color: whitesmoke;
  position: relative;
  overflow-x: scroll;
}

.rows {
  min-width: 6000px; /* 24 hours * 250px per hour = 6000px */
}

.rowContent {
  display:flex;
  height: 75px;
}
